body {
  background-color: #eeeeee;
  color: #333;
}
.App {
  text-align: center;
}

#form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  margin: 5rem 0;
}

#form-input > label {
  margin: 1em;
}

input {
  margin: 0 1em;
  width: 5rem;
}

.error-box,
.result-box {
  max-width: 80px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.result-box {
  color: #4F8A10;
  background-color: #DFF2BF;
  border: 1px solid #4F8A10;
}

.error-box {
  background-color: #FFD2D2;
  color: #D8000C;
  border: 1px solid #D8000C;
}

.btn {
  border: none;
  background: #444;
  color: #eee;
  padding: 10px 20px;
  border-radius: 20px;
}

footer {
  font-size: 13px;
  position: fixed;
  bottom: 1rem;
  width: 100vw;
}